
body {
  position: relative;
}

h2, h3, p, b, li {
  letter-spacing: 0.05em;
}

.primary-p {
  line-height:28px;
}

.nav {
  margin-left: 0;
}

a[href*="mailto:"] {
  text-decoration: underline;
}

.meeting {
  padding: 30px 0 60px 0;

  h2 {
    font-size: 35px;
    line-height: 1.288em;
    color: #fff;
  }

  .scroll-block {
    .active {
      a {
        @include link-variant(#ffc603);
      }
    }
    li {
      padding: 10px 0;

      & + li {
        a {
          border-left: 1px solid #fff;
        }
      }

      a {
        padding: 0 10px;
        display: inline-block;
        font-size: 17px;
        line-height: 17px;
        @include link-variant(#fff, #ffc603);
        letter-spacing: 2px;
      }
    }
  }
}

.meeting-slider {
  .carousel-img {
    background-image: url("../images/meeting.jpg");
    height: 490px;
  }
  .owl-nav {
    position: absolute;
    right: 0;
    bottom: 0;
    color: #fff;
    .owl-next {
      background: #000 url('../images/arrow-right.png') no-repeat center;
      width: 81px;
      max-width: 81px;
      height: 81px;
      color: rgba(0, 0, 0, 0);
    }
    .owl-prev {
      display: none !important;
    }
  }
  .owl-dots {
    position: absolute;
    bottom: 15px;
    right: 102px;
  }

  .owl-dot {
    margin: 0 3px;
    width: 17px;
    height: 17px;
    background: #fff;
    border-radius: 10px;
    display: inline-block;
  }
  .active {
    background: #000;
  }
}

.overview {
  color: $secondary-text-color;
  background: url('../images/overview-bg.png') no-repeat center;
  background-size: cover;
  h2 {
    color: $primary-bg-color;
    font-size: 30px;
    line-height: 1.2;
    margin-top: 10px;
  }
  p, li {
    text-align: left;
  }

  .card {
    border: 1px solid #fff;
    padding: 15px;
    position: relative;
  }
  .block-contact {
    padding: 15px 15px 0;
  }

  .block-links {
    font-size: $font-size-h5;
    padding: 0 10px;

    ul {
      padding: 0 15px;
      li {
        padding: 5px 0;
      }
    }
  }

  i {
    padding-right: 18px;
  }
}

.promotions-content {
  .slider {
    position: relative;
    overflow: hidden;
  }

  .details {
    font-size: 14px;
    &::before {
      content: "";
      position: absolute;
      right: -114px;
      border-bottom: 490px solid transparent;
      border-left: 100px solid $primary-bg-color;
    }
    h3 {
      padding-top: 40px;
      line-height: 35px;
      font-size: 30px;
      color: #000;
    }
    p, b {
      padding-top: 3px;
      & > span {
        font-family: 'Proximanova-semibolditalic', sans-serif;
        font-size: 16px;
      }
    }
    button {
      display: block;
      margin-top: 30px;
    }
    b {
      color: #000;
    }
  }

  .slider-img {
    height: 491px;
    background-image: url("../images/promotion_img.png");
  }

  .contact {
    background: #fff;
    max-width: 380px;
    padding: 0 11px;
    margin-top: 15px;
    p {
      font-size: 18px;
      color: #000;
      font-family: "Proximanova-bold", sans-serif;
    }
    a {
      text-decoration: underline;
    }
  }
}

.venues-content {
  background: #000;
  padding-bottom: 70px;
  color: #fff;
  .venue {
    margin-bottom: 30px;
  }
  h3 {
    font-size: 25px;
    color: $primary-bg-color;
  }
  .contact {
    p {
      color: $primary-bg-color;
      a {
        text-decoration: underline;
      }
    }
  }
}

footer {
  background: #000;
  .bg-block {
    background: url('../images/fallow-bg.jpg') no-repeat center;
    background-size: cover;
    padding-top: 63px;
    padding-bottom: 55px;
    text-align: center;
  }
  .btn {
    margin:20px 0 20px 0;
  }
}

.img-slider {
  padding-top: 61px;
  margin-bottom: 33px;
  .img {
    width: 287px;
    height: 288px;
    outline: none;
  }
  .slick-list {
    width: 87%;
    margin: 0 auto;
  }
  .slick-prev, .slick-next {
    width: 7.49%;
    height: 81px;
    position: absolute;
    outline: none;
    appearance: none;
    border: none;
    color: rgba(0, 0, 0, 0);
  }

  .slick-prev, .slick-next {
    &::before {
      content: "";
    }
  }

  .slick-prev {
    background: $primary-bg-color url("../images/arrow-prev.png") no-repeat center;
    left:0;
  }
  .slick-next {
    background: $primary-bg-color url("../images/arrow-next.png") no-repeat center;
    right:0;
  }
}

// Social icons
.social-icons {
  li {
    a {
      display: block;
      width: 33px;
      height: 33px;
      background-color: #333;
      line-height: 33px;
    }
  }
}



.footer-links {
  padding: 36px 0 26px 0;
  li {
    padding: 10px 5px;
    & + li {
      a {
        border-left:1px solid #484848;
      }
    }
  }
  a {
    padding-right: 20px;
    padding-left: 20px;
  }

}



